# Ignora cartelle di build
/build/
/CMakeFiles/
/Debug/
/TicTacToe.dir/
/x64/
/ZERO_CHECK/

# Ignora i file di progetto di Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln

# Ignora altri file temporanei
*.cmake
*.user
*.userprefs

# Includi solo i file .cpp, .h e CMakeLists.txt
!*.cpp
!*.h
!CMakeLists.txt
/.vs
