# Ignora la cartella build e altre cartelle temporanee di CMake
build/
CMakeFiles/
Debug/
TicTacToe.dir/
x64/
ZERO_CHECK/

# Ignora i file di configurazione di Visual Studio
*.vcxproj
*.vcxproj.filters
*.sln
*.user
*.userprefs

# Includi solo i file sorgente e CMakeLists.txt
!*.cpp
!*.h
!CMakeLists.txt
